In [7]:
import pandas as pd

In [8]:
path = "results/embeddings/stexpanded_lab_altlab_type_abs_comment_BAAI_bge-large-en-v1.5.json"
keep_dimensions = 10

In [9]:
df = pd.read_json(path)

In [10]:
df.iloc[:, :5]

             0         2         6         8         9
0     0.032848 -0.018349  0.021354 -0.008521  0.036227
1    -0.064748 -0.024229  0.025183  0.000420  0.017489
2     0.030845 -0.063716 -0.004776 -0.020345 -0.006952
3     0.027461  0.015355  0.035773  0.023471 -0.022873
4     0.002914 -0.048345 -0.027300 -0.013444 -0.029047
...        ...       ...       ...       ...       ...
1019 -0.029383  0.020338  0.028457 -0.002378  0.016644
1020  0.041667 -0.008677  0.085684  0.045731  0.050162
1021  0.023747  0.016864  0.014370  0.002556  0.017962
1022 -0.008002 -0.011206  0.001986  0.022744 -0.011384
1023 -0.054726 -0.045230 -0.030163 -0.035521 -0.024669

[1024 rows x 5 columns]

In [11]:
row_std = df.std(axis=1)
biggest_std = row_std.nlargest(keep_dimensions)
biggest_std_indexes = row_std.nlargest(keep_dimensions).index

In [12]:
biggest_std_df = df.loc[biggest_std_indexes]